{:dependencies [[rum "0.12.8" :exclusions [[cljsjs/react] [cljsjs/react-dom]]]
                [lambdaisland/fetch "1.0.41"]
                [cljs-ajax "0.8.4"]]

 :source-paths ["src"]

 :nrepl {:port 8777}

 :builds {:feedbackbocks
          {:target     :browser
           :output-dir "public/js"
           :asset-path "/js"

           :modules
           {:feedbackbocks {:entries [feedback-box.core]}}

           :release {:output-dir "target"}

           :devtools
           {;; before live-reloading any code call this function
            :before-load feedback-box.core/stop
            ;; after live-reloading finishes call this function
            :after-load  feedback-box.core/start
            :http-root   "public"
            :http-port   8700
            :preloads    [devtools.preload]}}

          :test {:target   :browser-test
                 :test-dir "test"}}}
